.pio/
.vscode/.browse.c_cpp.db*
.vscode/ipch/
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.lof
docs/*.lot
docs/*.xdv
docs/*.synctex.gz
docs/build-pass-*.txt
tmp/pdf-review/
tmp/pdfs/
MDK-ARM/STM32F107/
MDK-ARM/*.lst
MDK-ARM/*.uvguix.*
MDK-ARM/JLinkLog.txt
MDK-ARM/*.log
